<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/css/book_detail.css">
        <title>小說詳情頁</title>
    </head>
    <body>
        <div class="container">

        <div class="noval_left">
            <div class="noval_intro">
                <div class="noval_class">

                </div>
                <div class="noval_detail">
                    <div class="noval_image">
                        <img src="#" alt="">
                    </div>
                    <div class="noval_info">
                        <h1>小說名稱</h1>
                        <div class="detail_line"><span>作者:</span><a href="#">123</a></div>
                        <div class="detail_line"><span>分類:</span><a href="#">玄幻魔法</a></div>
                        <div class="detail_line"><span>連載</div>
                        <div class="detail_line"><span>更新: 2025-01-03</div>
                        <div class="btn">
                            <a href="#">開始閱讀</a>
                            <button type="button"><span>收藏</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="noval_tags">
                <div class="noval_tag">123</div>
                <div class="noval_tag">456</div>
                <div class="noval_tag">789</div>
            </div>
            <div class="noval_update">
                <div class="update_title">最近更新</div>
                <div class="update_pre"><a href="#">第3章<span>2025-01-03</span></a></div>
                <div class="update_pre"><a href="#">第2章<span>2025-01-02</span></a></div>
                <div class="update_pre"><a href="#">第1章<span>2025-01-01</span></a></div>
            </div>
        </div>


        <div class="noval_right">
            <div class="update_title">排行榜</div>
                <div class="ranking_tabs">
                    <input type="radio" name="tab" id="tab_1" checked>
                    <label for="tab_1">連載</label>
                    <div class="tab_content">內容1</div>

                    <input type="radio" name="tab"  id="tab_2">
                    <label for="tab_2">全本</label>
                    <div class="tab_content">內容2</div>
                </div>
            </div>
        </div>


    </body>
</html>