<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />

        <title>首頁</title>
    </head>

    <body>


        <div class="home_search">
            <div class="home_logo">
                <img src="#">
            </div>
            <div class="search_bar">
                <input type="text" placeholder="Search...">
                <button type="submit" class="search_bottun">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
        </div>


    </body>
</html>