<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/css/ranking.css">
        <title>排行頁面</title>
    </head>

    <body>
        <div class="outside_box">
            <div class="ranking_box">
                <div class="uprank">
                    <div class="uprank_left">
                        <ul>
                            <li><a href="#">連載</a></li>
                            <li><a href="#">全本</a></li>
                            <li><a href="#">不限</a></li>
                        </ul>
                    </div>
                    <div class="uprank_right">
                        <ul>
                            <li><a href="#">推薦</a></li>
                            <li><a href="#">新書</a></li>
                        </ul>                        
                    </div>
                </div>

                <div class="downrank">
                    <ul>
                        <li><a href="#">全部</a></li>
                        <li><a href="#">玄幻魔法</a></li>
                        <li><a href="#">言情小說</a></li>
                        <li><a href="#">修真仙俠</a></li>
                        <li><a href="#">歷史軍事</a></li>
                        <li><a href="#">同人小說</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="card_box">
                <div class="card">
                    <div class="card_title"><a href="#">文章標題</a></div>
                    <div class="card_content">這是內容</div>
                </div>

                <div class="card">
                    <div class="card_title"><a href="#">文章標題</a></div>
                    <div class="card_content">這是內容</div>
                </div>

                <div class="card">
                    <div class="card_title"><a href="#">文章標題</a></div>
                    <div class="card_content">這是內容</div>
                </div>

                <div class="card">
                    <div class="card_title"><a href="#">文章標題</a></div>
                    <div class="card_content">這是內容</div>
                </div>
            </div>
            <div class="pages">
                <ul>
                    <li><a href="#" class="notepage">上一頁</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#" class="notepage">下一頁</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>