:root {
    --accent-color: rgb(193, 193, 250);
    --base-color: white;
    --text-color: black;
    --input-color: rgb(226, 223, 223);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    color: unset;
    font-size: 100%;
    box-sizing: border-box;
    /* vertical-align: baseline; */
    /* border-collapse: collapse; */
    /* border-spacing: 0; */
}

html {
    color: var(--text-color);
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: #11bde4;
}

.loginpg {
    background: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


form>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1rem;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus)>label {
    background: var(--text-color);
}

form button {
    margin-top: 10px;
    background-color: var(--accent-color);
    color: var(--base-color);
    cursor: pointer;
    font: inherit;
    font-weight: 600;
    padding: .85em 4em;
    border: none;
    border-radius: 1000px;
}

form button:hover {
    background: var(--text-color);
}


form p a:hover {
    text-decoration: none;
    color: red;
}

@media (max-width :1100px) {
    .loginpg {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

.incorrect label{
    background-color: red;
}
form div .incorrect input{
    border-color: red;
}

#error-message{
    color: red;
}
